body { background-color: #f2f2f2;
}body {
    font-family: 'Nunito', sans-serif;
  }
  
  .headerLogo{
      height: 100px;
      width: 100px;
      
  }
  /* Grid CSS */
  
  #heroGrid {
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    height: 70vh;
    grid-template-rows: 75% 25%;
    grid-template-columns: 75% 25%;
    grid-template-areas:
    "featuredProduct secondaryProduct"
    "featuredProduct CTA";
  }
  
  
  #headline {
    background-color: #2F1D73(255,255,255,0.8);
    border-bottom: 5px solid #2F1D73;
    position: absolute;
    right: -50px;
    top: 100px;
    padding: 25px;
    max-width: 550px;
    z-index: 100;
  }
  
  .heroGridArea {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    position: relative;
  }
  
  /* Category Grid CSS */
  
  .subHeading {
    text-align: center;
    border-bottom: 5px solid #2F1D73;
    border-bottom: 2px #;
    width: 300px;
    margin: 50px auto;
  }
  
  #categoryGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas: "skills tools contact"
    "EGC haveHold"
    ;
  }
    
  .categoryGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
  }
  
  .heading {
    background-color: #2F1D73(0,0,0,0.7);
    padding: 15px;
    height: 25px;
    color: #2F1D73;
    font-size: 18px;
    border-bottom: 5px solid #2F1D73;
  }
  
  
  /* Navigation CSS */
  /* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */
  
  #navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
  }
  #navBar h1 {
    width: 25%;
    font-weight: 500;
  }
  #navigation {
    display: flex;
    width: 50%;
    align-items: right;
    justify-content: space-evenly;
  }
  #navigation p {
    cursor: pointer;
    text-decoration: none;
  }

  .footer-links {
    display: flex;
    width: 50%;
    align-items: left;
    justify-content: space-evenly;
  }


  .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .icons img {
    margin: 15px;
    cursor: pointer;
    width: 30px;
  }
  .highlight {
    color: #2F1D73;
    font-weight: 700;
  }
  
  /* Typography CSS */
  
  h2 {
    font-size: 60px;
    margin: 0px 0px;
    color:#2F1D73;
  }
  
  h3 {
    font-size: 32px;
    font-weight: 300;
    margin: 0px 0px;
  }
  
  h4 {
    color: #2F1D73;
    font-weight: 400;
    font-size: 22px;
  }
  
  
  #headline p {
    max-width: 350px;
    font-size: 32px;
    font-weight: 300;
    margin: 0px 0px;
    color: #636364;
  }
  
